@import 'tailwindcss';

@theme {
  --color-dark_amethyst: #0d0630;
  --color-deep_space_blue: #18314f;
  --color-dusk_blue: #384e77;

  --color-muted_teal: #87b38d;
  --color-wild_strawberry: #f75590;
  --color-midnight_violet: #22031f;
  --color-baby_blue_ice: #9ac4f8;
  --color-periwinkle: #c9d7f8;
}

@layer base {
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
    flex: auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  input {
    @apply focus:outline-none;
  }
}
